<div class="head">
    <app-image-fond></app-image-fond>
    <app-header></app-header>
</div>
<div class="links">
    <button mat-fab aria-label="icon button with a github icon" style="background-color: #BF712C;">
        <img style="width: 20px; height: 20px; object-fit: cover;" [src]="cheminGithub" alt="github">
    </button>
    <button mat-fab aria-label="icon button with a github icon" style="background-color: #BF712C;">
        <img style="width: 20px; height: 20px; object-fit: cover;" [src]="cheminGithub" alt="github">
    </button>
    <button mat-fab aria-label="icon button with a github icon" style="background-color: #BF712C;">
        <img style="width: 20px; height: 20px; object-fit: cover;" [src]="cheminGithub" alt="github">
    </button>
</div>
