<div class="body">
    <div style="display: flex; justify-content: space-around;">
        <mat-card style="width: 1200px; height: 600px; margin-top: 100px;">
            <mat-card-content>
                <h1>ABOUT ME</h1>
                <div class="info">
                    <div style="max-width: 40%;">
                        <h2>Who am i</h2>
                        <p>
                            I am a software engineer with a passion for programming and technology. I am currently in my 2nd year at Epitech Marseille where I study and learn programming and coding.
                        </p>
                        <p>
                            Outside of my studies, I like to learn other technologies, making little projects like this one, play sports, see my friends and family, watch football and play video games.
                        </p>
                        <p>
                            I am autonomous and I know how to learn by myself new languages and new technologies. I am open to all work proposals to improve my skills and respond to your missions.
                        </p>
                    </div>
                    <div style="max-width: 40%;">
                        <h2>Personal Information</h2>
                        <div>
                            <p>
                                <b>Full Name</b> : Corentin Fortes
                            </p>
                            <p>
                                <b>Age</b> : 19
                            </p>
                            <p>
                                <b>Address</b> : 22 allée des cigales, 13100 Aix-en-Provence
                            </p>
                            <p>
                                <b>Phone</b> : 06 74 97 68 23
                            </p>
                            <p>
                                <b>Email</b> : corentin.fortespradel@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="exp">
        <div class="barre"></div>
        <h1>EXPERIENCE</h1>
        <div class="exper">
            <mat-card style="width: 1200px; margin-top: 100px; background-color: #e5e7eb;">
                <mat-card-content>
                    <h2>
                        Baccalauréat - Lycée Vauvenargues
                    </h2>        
                    <p>
                        speciality: mathematics and physics chemistry
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card style="width: 1200px; margin-top: 100px; background-color: #e5e7eb;">
                <mat-card-content>
                    <h2>
                        Epitech Marseille - expert en technologies de l'information
                    </h2>
                    <p>
                        2nd year student in the Program Grande Ecole
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card style="width: 1200px; margin-top: 100px; background-color: #f0f0e8;">
                <mat-card-content>
                    <h2>
                        Developer Internship at Capgemini - Angular (Front-end) - java (Back-end) - Sql (Database)
                    </h2>
                    <p>
                        4 month internship as a Software Engineer on an intranet project for the ministère des armées (Marine) to create a site to manage stored materials as well as men and their assignments.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>