<div class="header">
    <div class="header_top">
        <div class="header_title">
            CORENTIN'S PORTFOLIO
        </div>
        <div class="header_button">
            <button mat-button style="font-size: 20px; font-weight: 300;  color: aliceblue;"> ABOUT </button>
            <button mat-button style="font-size: 20px; font-weight: 300; color: aliceblue;"> EXPERIENCE </button>
            <button mat-button style="font-size: 20px; font-weight: 300; color: aliceblue;"> EXTRA CURICULAR </button>
            <button mat-button style="font-size: 20px; font-weight: 300; color: aliceblue;"> PROJECTS </button>
            <button mat-button style="font-size: 20px; font-weight: 300; color: aliceblue;"> SKILLS </button>
            <button mat-button style="font-size: 20px; font-weight: 300; color: aliceblue;"> EDUCATION </button>
            <button mat-button style="font-size: 20px; font-weight: 300; color: aliceblue;"> CONTACT </button>
        </div>
    </div>
    <div>
        <img style="width: 170px; height: 170px; object-fit: cover; border-radius: 50%;" [src]="cheminImage" alt="Corentin Fortes">
    </div>
    <div>
        <h1>
            CORENTIN FORTES
        </h1>
        <h2>
            SOFTWARE ENGINEER
        </h2>
        <button mat-raised-button style="font-size: 20px; font-weight: 300; color: aliceblue; background-color: #BF712C">Download CV</button>
    </div>
</div>